---
{
  "name": "Promotion",
  "class": "",
  "icon": "list",
  "keep_name": true,
  "keep_icon": true,
  "settings": [
    {
      "label": "Titre",
      "id": "promotion_titre",
      "type": "text"
    },
    {
      "label": "Category ID",
      "id": "category_id",
      "type": "text"
    },
    {
      "label": "Slider",
      "id": "slider",
      "type": "checkbox"
    },
    {
       "label": "Liens Toutes Nos Promotions",
       "id": "url_promotions",
       "type": "text"
    },
    {
      "label": "Nombre d'articles par ligne",
      "id": "item_limit",
      "type": "select",
      "options": [
        {"label": "4","value": "4"},
        {"label": "5","value": "5"},
        {"label": "6","value": "6"}
      ]
    }
  ],
  "presets": [{
    "name": "Promotion",
    "category": "Category",
    "settings": {
      "promotion_titre" : "Promotions articles ACDC",
      "category_id": "182",
      "slider": true,
      "item_limit": "5",
      "url_promotions": "https://google.com"
    }
  }],
  "default": {
    "settings": {
      "promotion_titre" : "Promotions articles ACDC",
      "category_id": "182",
      "slider": true,
      "item_limit": "5"
    }
  }
}
---
{% assign item_limit = section.settings.item_limit | round %}
<div class="container-fluid">
  <div class="row {{css_banner}}">
    <div class="section_titre">{{ section.settings.promotion_titre }}</div>
    <div class="col-12">
      <div class="container">
        <div class="row promotion">
          <div class="col-12">
            {% with_scope categories: {id: section.settings.category_id} %}
              {% if section.settings.slider == true %}
                {% assign slide_count = 1 %}
                {% assign carousel_html_id = "carousel-category-" | append : section.settings.category_id%}
                <div id="{{carousel_html_id}}" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active p-1">
                      <div class="row">
                        {% assign thumb_order = 0 %}
                        {% for product in store.products %}
                          {% assign thumb_order = thumb_order | plus: 1 %}
                          <div class="col-12 col-sm-6 col-md-3 col-xl-3 p-1">
                            <div class=" h-100">
                              {% include 'product_thumbnail' with
                                 product
                              %}
                            </div>
                          </div>
                          {% if thumb_order == 4 %}
                            {% assign slide_count = slide_count | plus: 1 %}
                            {% assign thumb_order = 0 %}
                            </div>
                          </div>
                          <div class="carousel-item p-1">
                            <div class="row">
                          {%endif%}
                        {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                  {% if slide_count > 1%}
                    <div class="pt-2 pb-2 text-center">
                      <a class="btn btn-outline-acdc btn-sm" href="#{{carousel_html_id}}" role="button" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                      </a>
                      <a class="btn btn-outline-acdc btn-sm" href="#{{carousel_html_id}}" role="button" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                      </a>
                      <a href="{{section.settings.url_promotions}}"><div class="btn btn-sm btn-outline-acdc btn-promo">Toutes les promotions</div></a>
                    </div>
                  {% endif %}
                </div>
              {% else %}
                <div class="row justify-content-center">
                  {% assign css_col = 'col-xl-3' %}
                  {% if item_limit == 5 %}
                    {% assign css_col = 'col-xl-2' %}
                  {% endif %}
                  {% paginate store.products by item_limit %}
                    {% for product in paginate.collection %}
                      <div class="col-12 col-sm-6 col-md-3 {{ css_col }} p-1">
                        {% include 'product_thumbnail' with
                           product
                        %}
                      </div>
                    {% endfor %}
                  {% endpaginate %}
                </div>
              {% endif %}
            {% endwith_scope %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
